.grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.grid:after {
    clear: both;
}
.grid:after, .box:before {
    content: "";
    display: table;
}
.grid li {
    display: inline-block;
    margin: 20px;
}

.tile {
    width: 328px;
    height: 328px;
    position: relative;
    border-radius: 10px;
    background-position: center;
    background-size: auto 100%;
    background-color: rgba(0,0,0,0.3);
}

.tile h1, .tile p {
    padding: 5px;
}
.tile-header {
    display: flex;
    height: 45%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px 10px 0 0;
}
.tile-footer {
    height: 55%;
    padding: 40px;
    display: flex;
    align-content: center;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}
.title-top {
    display: flex;
    align-items: center;
    justify-items: center;
}
.title-bottom {
    display: flex;
    align-items: top;
    justify-items: center;
}
.title h1 {
    font-size: 22px;
}
.title p {
    font-size: 13px;
    font-style: italic;
}
.title ul {
    display: flex;
    flex-direction: column;

}
.title li {
    line-height: normal;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-style: italic;
}
.tile-footer h3 {
    font-size: 18px;
    letter-spacing: .1px;
    margin: auto;
}

.img-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 7px;
    
}
.img {
    height: 115px;
    width: 115px;
    border-radius: 7px;
    /*-webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;*/
}
.img:hover {
    cursor: pointer;
}
.title{
    width:60%;
    height: 100%;
}
.img-1 {
    background: url(../images/Marc.jpg);
    background-position: center;
    background-size: auto 100%;
}
.img-2 {
    background: url(../images/Hayden.jpg);
    background-position: center;
    background-size: auto 100%;
}
.img-3 {
    background: url(../images/Dani.jpg);
    background-position: center;
    background-size: auto 100%;
}
.img-4 {
    background: url(../images/Sam.jpg);
    background-position: center;
    background-size: auto 100%;
}
.img-5 {
    background: url(../images/Brick-Wall.jpg);
    background-position: center;
    background-size: auto 100%;
}
.img-6 {
    background: url(../images/Corey.jpg);
    background-position: center;
    background-size: auto 100%;
}



#statement {
    width: 1073px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#statement h1, #statement p {
    padding: 30px;
    background-color: rgba(0,0,0,0.3);
}
#statement h1 {
    font-size: 32px;
    padding: 40px 30px 0px 30px;
}
#statement p {
    line-height: 28px;
    padding: 0 20px 40px 20px;
    font-size: 20px;
    text-align: justify;
}
#poopsters {
    font-family: "Reenie Beanie";
    font-size: 35px;
}

@media (max-width: 942px) {
    #statement {
        border-radius: 0;
        padding: 0;
    }
    #statement h1 {
        font-size: 30px;
    }
}
/*
@media (max-width: 366) {
    section {
        display: flex;
        flex-direction: column;
    }
}
*/