* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans';
    color: #F7F6F4;
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
nav {
    height: 150px;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

label.logo {
    display: block;
    font-family: "Reenie Beanie";
    color: #F7F6F4;
    font-size: 100px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
nav ul {
    text-align: center;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #F7F6F4;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
}



a.active,a:hover {
    background: #1A62A3;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: #F7F6F4;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
#current {
    border-radius: 3px;
    background: #1A62A3;
}

@media (max-width: 942px) {
    .checkbtn {
        display: block;
    }
    nav {
        height: 90px;
        margin-bottom: 0;
    }
    label.logo {
        text-align: left;
        font-size: 50px;
        padding-left: 50px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #005099;
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/*
colors:
dark blue: #005099
blue: #1A62A3
dark brown: #7C7062
lighter brown: B4A28F
creamy white: #F7F6F4
light blue: #E0EAF4
*/